<style type="text/css">
    input[type=password]::-ms-reveal,
    input[type=password]::-ms-clear {
        display: none;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <div class="icon-circle pull-right" data-dismiss="modal" aria-label="Close">
            <i class="ion ion-ios-close-empty"></i>
        </div>
        <h4 class="modal-title">Change Password</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <form class="form-horizontal" id="frmChangePassword" method="post" data-toggle="validator" role="form">
                <div class="form-group">
                    <div class="col-sm-12 layered-box">
                        <label>Old Password</label>
                        <input type="password" class="form-control" id="txtOldPassword" name="oldPassword" autocomplete="new-password" required />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12 layered-box">
                        <label>New Password</label>
                        <input type="password" class="form-control" id="txtNewPassword" name="newPassword" autocomplete="new-password" required />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12 layered-box">
                        <label>Confirm New Password</label>
                        <input type="password" class="form-control" id="txtCnfPassword" name="cnfPassword" autocomplete="new-password" required />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="button" id="btnChangePassword" class="btn btn-primary">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
