
@using EvolutyzCorner.UI.Web.Controllers
@using Evolutyz.Entities;

@{
    HomeController hm = new HomeController();

    var obj = hm.GetAdminMenu();
    UserSessionInfo info = new UserSessionInfo();
    int? proid = info.Projectid;
    int? timesheetid = info.TimesheetMode;

}

<style>
    .skin-blue .sidebar-menu > li > a > i.fa {
        font-size: 30px;
        color: #5a4c47;
    }

    .skin-blue .sidebar-menu > li:hover > a > i.fa,
    .skin-blue .sidebar-menu > li.active > a > i.fa,
    .skin-blue .sidebar-menu > li.menu-open > a > i.fa {
        color: #fff;
    }
</style>
@if (Session["UserSessionInfo"] != null)
{
    Html.Partial("_ChangePassword");

}

<ul class="sidebar-menu" data-widget="tree">
    <li id="dashboard"> <a href="~/Dashboard/Dashboard1"> @*<i class="fa fa-dashboard"></i>*@ <img src="~/Content/images/leftmenu/inActive_Dashboard.png" class="leftmenu_icn" /> <img src="~/Content/images/leftmenu/Active_Dashboard.png" class="leftmenu_icn" /> <span>Dashboard</span> </a> </li>
    @if (Session["roleid"].ToString() == "1001")
    {

        <li id="Financialyear"> <a href="~/LeaveScheme/Financialyear"> <img src="~/Content/images/leftmenu/inActive_Financial_Year.png" class="leftmenu_icn" /> <img src="~/Content/images/leftmenu/Active_Financial_Year.png" class="leftmenu_icn" /> <span>Financial Year </span> </a> </li>
    }
    @foreach (var item in obj)
    {



        if (item.Mod_ModuleID == 502 && item.ModuleName == "Add Project/Client")
        {



            <li id="Projects"> <a href="~/Project/Index"> <img src="~/Content/images/leftmenu/inActive_ClientNew.png" class="leftmenu_icn" /> <img src="~/Content/images/leftmenu/Active_ClientNew.png" class="leftmenu_icn" /> <span>Clients</span> </a> </li>


        }


        if (item.Mod_ModuleID == 500 && item.ModuleName == "NewsBoard")
        {



            <li id="NewsBoard"> <a href="~/NewsBoard/Index"> <img src="~/Content/latest_leftmenu/inActive_newsboard.png" class="leftmenu_icn" /> <img src="~/Content/latest_leftmenu/Active_newsboard.png" class="leftmenu_icn" /> <span>News Board</span> </a> </li>


        }





        if (item.Mod_ModuleID == 500 && item.ModuleName == "Add Account")
        {

            <li id="account_management"> <a href="~/OrganizationAccount/Index"> <img src="~/Content/images/leftmenu/inActive_Account_management.png" class="leftmenu_icn" /> <img class="leftmenu_icn" src="~/Content/images/leftmenu/Active_Account_management.png" /> <span>Accounts</span> </a> </li>

        }


        if (item.Mod_ModuleID == 500 && item.ModuleName == "Add Holiday Calendar")
        {
            <li id="HolidayCalendar"> <a href="~/HolidayCalendar/HolidayCalendar"> <img src="~/Content/images/leftmenu/inActive_calendar_holiday.png" class="leftmenu_icn" /> <img src="~/Content/images/leftmenu/Active_calendar_holiday.png" class="leftmenu_icn" /> <span>Holiday Calendar </span> </a> </li>

        }




        if (item.Mod_ModuleID == 500 && item.ModuleName == "Add main Tasks")
        {

            <li id="Task"> <a href="~/Task/Index"> <img src="~/Content/images/leftmenu/inActive_projects_tasks_management.png" class="leftmenu_icn" /> <img src="~/Content/images/leftmenu/Active_projects_tasks_management.png" class="leftmenu_icn" /> <span>Account Tasks</span> </a> </li>


        }



        if (item.Mod_ModuleID == 501 && item.ModuleName == "Add Role")
        {

            <li id="role_management"> <a href="~/ManageRole/Index"> <img src="~/Content/images/leftmenu/inActive_Role_management.png" class="leftmenu_icn" /> <img src="~/Content/images/leftmenu/Active_Role_management.png" class="leftmenu_icn" /> <span>Roles</span> </a> </li>


        }
        if (item.Mod_ModuleID == 501 && item.ModuleName == "Add Employeement Type")
        {



            <li id="UserType"> <a href="~/UserType/Index"> <img src="~/Content/images/leftmenu/inActive_user-type.png" class="leftmenu_icn" /> <img src="~/Content/images/leftmenu/Active_user-type.png" class="leftmenu_icn" /> <span>Employment Type</span> </a> </li>


        }


        if (item.Mod_ModuleID == 501 && item.ModuleName == "Add User")
        {



            <li id="User"> <a href="~/User/Index"> <img src="~/Content/images/leftmenu/inActive_Users.png" class="leftmenu_icn" /> <img src="~/Content/images/leftmenu/Active_Users.png" class="leftmenu_icn" /> <span>Users </span> </a> </li>


        }

        @*if (Session["roleid"].ToString() == "1007")
            {
                if (proid != 0)
                {
                    if (item.Mod_ModuleID == 503 && item.ModuleName == "Add/Submit Timesheet")
                    {

                        <li id="timesheet_management"> <a href="~/Timesheet/PreviewTimesheets"> <img src="~/Content/images/leftmenu/inActive_byMonthly_Timesheet_management.png" class="leftmenu_icn" /> <img src="~/Content/images/leftmenu/Active_byMonthly_Timesheet_management.png" class="leftmenu_icn" /> <span>Timesheets</span> </a> </li>




                    }
                }
            }*@
    if (item.Mod_ModuleID == 503 && item.ModuleName == "Add/Submit Timesheet" && Session["roleid"].ToString() != "1010" && Session["roleid"].ToString() != "1011")
    {
        if (proid != 0)
        {
            if (Session["roleid"].ToString() == "1007" || timesheetid == 1 || timesheetid == 2 || timesheetid == 3 || timesheetid == 4)
            {
                    <li id="timesheet_management"> <a href="~/Timesheet/PreviewTimesheets"> <img src="~/Content/images/leftmenu/inActive_byMonthly_Timesheet_management.png" class="leftmenu_icn" /> <img src="~/Content/images/leftmenu/Active_byMonthly_Timesheet_management.png" class="leftmenu_icn" /> <span>Timesheets</span> </a> </li>

            }

        }
    }
    else
    {
        if (item.Mod_ModuleID == 503 && item.ModuleName == "Add/Submit Timesheet")
        {
            if (proid != 0)
            {
                if (timesheetid == 1)
                {
                        <li id="timesheet_management"> <a href="~/Timesheet/PreviewTimesheets"> <img src="~/Content/images/leftmenu/inActive_byMonthly_Timesheet_management.png" class="leftmenu_icn" /> <img src="~/Content/images/leftmenu/Active_byMonthly_Timesheet_management.png" class="leftmenu_icn" /> <span>Timesheets</span> </a> </li>

                    }
                    else if (timesheetid == 2)
                    {
                        <li id="timesheetBy_Monthly_management"> <a href="~/Timesheet/PreviewbyMonthlyTimesheets"> <img src="~/Content/images/leftmenu/inActive_byWeekly_Timesheet_management.png" class="leftmenu_icn" /> <img src="~/Content/images/leftmenu/Active_byWeekly_Timesheet_management.png" class="leftmenu_icn" /> <span>Timesheets</span> </a> </li>

                    }
                    else if (timesheetid == 3)
                    {
                        <li id="timesheet_Weekly_management"> <a href="~/Timesheet/PreviewWeeklyTimesheets"> <img src="~/Content/images/leftmenu/inActive_byhalfWeek_Timesheet_management.png" class="leftmenu_icn" /> <img src="~/Content/images/leftmenu/Active_byhalfWeek_Timesheet_management.png" class="leftmenu_icn" /> <span>Timesheets</span> </a> </li>

                    }
                    else if (timesheetid == 4)
                    {
                        <li id="timesheet_BYMonthly_management"> <a href="~/Timesheet/PreviewBymonthlytimesheets15days"> <img src="~/Content/images/leftmenu/inActive_byhalfWeek_Timesheet_management.png" class="leftmenu_icn" /> <img src="~/Content/images/leftmenu/Active_byhalfWeek_Timesheet_management.png" class="leftmenu_icn" /> <span>Timesheets</span> </a> </li>

                    }
                }
            }


        }
        if (Session["roleid"].ToString() == "1002")
        {


            @*if (item.Mod_ModuleID == 503 && item.ModuleName == "Add/Submit Timesheet")
            {
                <li id="timesheet_management"> <a href="~/Timesheet/AdminPreviewTimesheets"> <img src="~/Content/images/leftmenu/inActive_Timesheet_management.png" class="leftmenu_icn" /> <img src="~/Content/images/leftmenu/Active_Timesheet_management.png" class="leftmenu_icn" /> <span style="width:190px"> Timesheets</span> </a> </li>
            }*@

        }

        @*if (Session["roleid"].ToString() == "1010" || Session["roleid"].ToString() == "1011")
        {

            if (proid != 0)
            {
                if (timesheetid == 1)
                {
                    if (item.Mod_ModuleID == 503 && item.ModuleName == "Add/Submit Timesheet")
                    {

                        <li id="timesheet_management"> <a href="~/Timesheet/PreviewTimesheets"> <img src="~/Content/images/leftmenu/inActive_byMonthly_Timesheet_management.png" class="leftmenu_icn" /> <img src="~/Content/images/leftmenu/Active_byMonthly_Timesheet_management.png" class="leftmenu_icn" /> <span>Timesheet (Monthly)</span> </a> </li>


                    }
                }
                else if (timesheetid == 2)
                {
                    if (item.Mod_ModuleID == 503 && item.ModuleName == "Add/Submit Timesheet")
                    {

                        <li id="timesheetBy_Monthly_management"> <a href="~/Timesheet/PreviewbyMonthlyTimesheets"> <img src="~/Content/images/leftmenu/inActive_byWeekly_Timesheet_management.png" class="leftmenu_icn" /> <img src="~/Content/images/leftmenu/Active_byWeekly_Timesheet_management.png" class="leftmenu_icn" /> <span>Timesheet (Bi-Weekly)</span> </a> </li>


                    }
                }

                else if (timesheetid == 3)
                {
                    if (item.Mod_ModuleID == 503 && item.ModuleName == "Add/Submit Timesheet")
                    {

                        <li id="timesheet_Weekly_management"> <a href="~/Timesheet/PreviewWeeklyTimesheets"> <img src="~/Content/images/leftmenu/inActive_byhalfWeek_Timesheet_management.png" class="leftmenu_icn" /> <img src="~/Content/images/leftmenu/Active_byhalfWeek_Timesheet_management.png" class="leftmenu_icn" /> <span>Timesheets (Weekly)</span> </a> </li>



                    }
                }

            }
        }*@


        if (item.Mod_ModuleID == 504 && item.ModuleName == "Apply Leave")
        {



            <li id="LeaveApplicationManagement"> <a href="~/LeaveApplicationManagement/Index"> <img src="~/Content/latest_leftmenu/inActive_Leave_management.png" class="leftmenu_icn" /> <img src="~/Content/latest_leftmenu/Active_Leave_management.png" class="leftmenu_icn" /> <span> Leave Management </span> </a> </li>


        }



        if (item.Mod_ModuleID == 501 && item.ModuleName == "Add Skill")
        {



            <li id="skills"> <a href="~/skills/Index"> <img src="~/Content/latest_leftmenu/inActive_addskills.png" class="leftmenu_icn" /> <img src="~/Content/latest_leftmenu/Active_addskills.png" class="leftmenu_icn" /> <span> Skills </span> </a> </li>


        }






    }

    @if (Session["roleid"].ToString() == "1052" || Session["roleid"].ToString() == "1002" || Session["roleid"].ToString() == "1010" || Session["roleid"].ToString() == "1011")
    {




        @*<li id="AccountTimeSheet"> <a href="~/TimeSheet/AccountTimeSheet"> <img src="~/Content/latest_leftmenu/inActive_newsboard.png" class="leftmenu_icn" /> <img src="~/Content/latest_leftmenu/Active_newsboard.png" class="leftmenu_icn" /> <span>All Time Sheet</span> </a> </li>*@
        <li id="AccountTimeSheet"> <a href="~/TimeSheet/AccountTimeSheet"> <img src="~/Content/latest_leftmenu/inActive_allTimesheets.png" class="leftmenu_icn" /> <img src="~/Content/latest_leftmenu/inActive_allTimesheets.png" class="leftmenu_icn" /> <span>Resource Timesheets</span> </a> </li>




    }

    @if (Session["roleid"].ToString() == "1002")
    {
        <li class="treeview" id="addPosition">
            <a href="#">
                <img src="~/Content/images/leftmenu/inActive_Recruit.png" class="leftmenu_icn" />
                <img src="~/Content/images/leftmenu/Active_Recruit.png" class="leftmenu_icn" />
                <span>Positions</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="~/Ticket/GetllAssessment?pid=0"><i class="fa fa-circle-o"></i> Positions</a></li>
                <li><a href="~/InterviewQuestions/DisplayQuestions"><i class="fa fa-circle-o"></i> Questions</a></li>
                <li><a href="~/InterviewQuestions/AddQuestions"><i class="fa fa-circle-o"></i>Add Questions</a></li>
            </ul>
        </li>
    }

    <li id="PaySlips"> <a href="~/PaySlip/SalarySlips"> <img src="~/Content/images/leftmenu/inActive_Financial_Year.png" class="leftmenu_icn" /> <img src="~/Content/images/leftmenu/Active_Financial_Year.png" class="leftmenu_icn" /> <span>Pay History</span> </a> </li>


    <li id="Ticket"> <a href="~/Ticket/GetllTickets"> <i class="fa fa-ticket"></i> @*<img src="~/Content/images/leftmenu/inActive_Financial_Year.png" class="leftmenu_icn" /> <img src="~/Content/images/leftmenu/Active_Financial_Year.png" class="leftmenu_icn" />*@ <span>Tickets</span> </a> </li>


    @if (Session["roleid"].ToString() == "1056")
    {
        <li id="InterviewCandidates"> <a href="~/InterviewCandidates/Index"> <img src="~/Content/images/leftmenu/inActive_Interview.png" class="leftmenu_icn" /> <img src="~/Content/images/leftmenu/Active_Interview.png" class="leftmenu_icn" /> <span>Add InterviewCandidates</span> </a> </li>
    }
</ul>





