<style type="text/css">
    input[type=password]::-ms-reveal,
    input[type=password]::-ms-clear {
        display: none;
    }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1> Login Password </h1>
        <ol class="breadcrumb">
            <li><a href="~/Account/Index"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Change Password</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <!--/.col (left) -->
            <!-- right column -->
            <form class="form-horizontal" id="frmChangePassword" method="post" data-toggle="validator" role="form">
                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Change Password</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form class="form-horizontal">
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Current Password</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="txtOldPassword" name="oldPassword" placeholder="Current Password" autocomplete="new-password" required />
                                            <span class="input-group-addon toggle-password" toggle="#txtOldPassword "><span class="fa fa-eye-slash"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">New Password</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="txtNewPassword" name="newPassword" placeholder="New Password" autocomplete="new-password" required />
                                            <span class="input-group-addon toggle-password" toggle="#txtNewPassword "><span class="fa fa-eye-slash"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 control-label">Confirm Password</label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="txtCnfPassword" name="cnfPassword" placeholder="Confirm Password" autocomplete="new-password" required />
                                            <span class="input-group-addon toggle-password" toggle="#txtCnfPassword "><span class="fa fa-eye-slash"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="save" class="btn btn-primary">Update</button>
                                &nbsp;&nbsp;
                                <button type="cancel" class="btn btn-primary">Cancel</button>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
            </form>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script type="text/javascript">
    $(document).ready(function () {
        //Validation
        $('#frmChangePassword').bootstrapValidator({
            live: 'enabled',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                'oldPassword': {
                    validators: {
                        notEmpty: {
                            message: 'Old Password is required'
                        },
                        stringLength: {
                            min: 6,
                            max: 32
                        }
                    }
                },
                'newPassword': {
                    validators: {
                        notEmpty: {
                            message: 'Password is required'
                        },
                        stringLength: {
                            min: 6,
                            max: 32
                        }
                    }
                },
                'cnfPassword': {
                    validators: {
                        notEmpty: {
                            message: 'Confirm Password is required'
                        },
                        stringLength: {
                            min: 6,
                            max: 32
                        },
                        identical: {
                            field: 'newPassword',
                            message: 'Password and confirm password should be same'
                        }
                    }
                }
            }
        }).on('error.form.bv', function (e) {
            console.log('error.form.bv');
            // You can get the form instance and then access API
            var $form = $(e.target);
            console.log($form.data('bootstrapValidator').getInvalidFields());
            // If you want to prevent the default handler (bootstrapValidator._onError(e))
            //e.preventDefault();
        })
            .on('success.form.bv', function (e) {
                //console.log('success.form.bv');
                //// If you want to prevent the default handler (bootstrapValidator._onSuccess(e))
                ////e.preventDefault();
            })
            .on('error.field.bv', function (e, data) {
                console.log('error.field.bv -->', data);
            })
            //.on('success.field.bv', function (e, data) {
            //    console.log('success.field.bv -->', data);
            //})
            .on('status.field.bv', function (e, data) {
                // I don't want to add has-success class to valid field container
                data.element.parents('.form-group').removeClass('has-success');
                // I want to enable the submit button all the time
                data.bv.disableSubmitButtons(false);
            });
    });


    $('#btnChangePassword').click(function () {
        $('#frmChangePassword').bootstrapValidator('validate');
        if ($('#frmChangePassword').valid() == true) {
            var formData = new FormData();
            var oldPwd = $('#txtOldPassword').val();
            var Pwd = $('#txtNewPassword').val();
            var CnfPwd = $('#txtCnfPassword').val();

            if (Pwd != CnfPwd) {
                alert("New Password and Confirm Password didnt match");
                $('#txtCnfPassword').val('').focus();
                return;
            }

            var insert_loc = $('#modal-add-new-member-details-dialog').find('.tree-form:first-child');
            formData.append("Login_Password", oldPwd);
            formData.append("Login_NewPassword", Pwd);

            $.ajax({
                url: window.rootUrl + "Account/ChangePassword",
                type: 'POST',
                async: false,
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    $('#frmChangePassword')[0].reset();
                    $('#frmChangePassword').bootstrapValidator('resetForm', true);
                    //$('.profile-tabs.family-tree .tab-content').html('');
                    alert(data);
                    $('#modal-change-password-box').modal('hide');
                }
            });
        }
    });


</script>

<script type="text/javascript">
    $(".toggle-password").click(function () {
        $(this).toggleClass("btn-info");
        $(this).find('span.fa').toggleClass("fa-eye-slash fa-eye");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });

</script>