@model Evolutyz.Entities.InterviewCandidateEntity
@{
    ViewBag.Title = "GetInterviewCandidates";
}

<h2>@*GetInterviewCandidates*@</h2>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.10.0/jquery.validate.min.js"></script>
<link href="~/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/Scripts/date.format.js"></script>

<script src="~/Scripts/bootstrap-datepicker.js"></script>
<script src="~/Scripts/bootstrap-datepicker.min.js"></script>


<style>
    label.error {
        position: absolute;
        bottom: -20px;
        left: 15px;
        font-size: 10px;
        color: red;
    }

    .form-control.validate_msg ~ span.field-validation-valid:before {
        content: "";
        position: absolute;
        bottom: -15px;
        left: 15px;
        font-size: 10px;
        color: red;
    }

    #UsT_UserTypeCode.validate_msg ~ span:before {
        content: "Employee Code Already Existed";
    }

    #UsT_UserType.validate_msg ~ span:before {
        content: "Employee Type Already Existed";
    }

    .box.box-solid.box-brown {
        border: 1px solid #aaaaaa;
    }

        .box.box-solid.box-brown > .box-header {
            /*background-color: #a3765b;
        color: #fff;*/
            border-color: #aaaaaa;
            background: #cccccc url(../Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
            color: #222222;
        }

        .box.box-solid.box-brown .btn-warning {
            background-color: #f97045;
            border-color: #fe450b;
        }

        .box.box-solid.box-brown .btn-success {
            background-color: #fea728;
            border-color: #FF9800;
        }

    #divhiduserid ~ label {
        margin: 7px auto;
    }
</style>
<div class="block-content">
    <div class="">
        <h4 class="heading-fancy">InterviewCandidate</h4>
        <input type="button" id="btnAddModel1" value="+" data-toggle="modal" data-target="#ContainerGridDetail" class="btn" />
    </div>
    <div class="table-responsive">
        <div class="clearfix table-block">
            <table id="table">
                <thead>
                    <tr>
                        <th>ICID </th>
                        <th>FirstName</th>
                        <th>LastName</th>
                        <th>Email</th>
                        <th>MobileNumber</th>
                        <th>Password</th>
                        @*<th>Assessment_For_Positionid</th>*@
                        @*<th>RecrutementUserid</th>
                            <th>AssignmentDate</th>
                            <th>CreatedDate</th>
                            <th>Createdby</th>
                            <th>ModifiedDate</th>
                            <th>Modifiedby</th>*@
                        <th>status</th>
                        @*<th>InterviewForPositionname</th>*@



                        <th id="actions">Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<div id="warningmsg" class="modal" role="dialog">
    <div class="modal-dialog">
        <div id="divAdv" class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">×</button>*@

            </div>
            <div class="modal-body">
                <h3>Do you really want to close the window.</h3>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-clr" data-dismiss="modal" value="1" id="btnclose">Yes</button>
                <button type="button" class="btn btn-clr1" value="2" data-dismiss="modal" id="cancel">No</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        
        loaddata();

    });



    function loaddata() {
        $.ajax({
            url: "/InterviewCandidates/GetInterviewCandidate",
            type: "Get",
            dataType: "json",
            success: function (res) {

                $('#table').DataTable({
                    'data': res,
                    'paginate': true,
                    'sort': true,
                    'Processing': true,
                    'columns': [
                        { 'data': 'ICID'},
                        { 'data': 'FirstName' },
                        { 'data': 'LastName' },
                        { 'data': 'Email' },
                        { 'data': 'MobileNumber' },
                        { 'data': 'Password' },

                        { 'data': 'status'},
                        //{ 'data': 'InterviewForPositionname', 'visible': false },
                        //{ 'data': 'Prioritydescription', 'visible': false},

                        {
                            "render": function (type, full, meta, data) {

                                return '<a class="btn btn-icn btn-icn-hide  edit" data-toggle="modal"  data-target="#ContainerGridDetail" title="Edit" onclick="EditTicket(' + meta.TID + ')" ><i class="fa fa-edit"></i></a>';




                            },

                        },


                    ]
                });
            },
            error: function (msg) {
            }
        });
    }

    $("#btnAddModel1").click(function () {
        window.location.href = "/InterviewCandidates/AddInterviewCandidate?Icid=0";
    });



    function EditTicket(Tid) {
        
        window.location.href = "/InterviewCandidates/AddInterviewCandidate?Icid=" + Icid;
    }




</script>
